[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/tpboudreau/dmlc-core
	branch = grouped_bagging
[submodule "cub"]
	path = cub
	url = https://github.com/NVlabs/cub
[submodule "gputreeshap"]
	path = gputreeshap
	url = https://github.com/rapidsai/gputreeshap.git
