[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/dmlc/dmlc-core
[submodule "rabit"]
	path = rabit
	url = https://github.com/dmlc/rabit
[submodule "cub"]
	path = cub
	url = https://github.com/NVlabs/cub
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
