environment:
        matrix:
                - target: native
                  solution_name: C:/projects/xgboost/build2013/xgboost.sln
                - target: native
                  solution_name: C:/projects/xgboost/build2015/xgboost.sln
                - target: jvm
platform:
        - x64

configuration:
        - Debug
        - Release

install:
        - SET PATH=;%PATH%
        - git submodule update --init --recursive

before_build:
        - mkdir build2013
        - mkdir build2015
        - cd build2013
        - cmake .. -G"Visual Studio 12 2013 Win64" -DCMAKE_CONFIGURATION_TYPES="Release;Debug;" 
        - cd ../build2015
        - cmake .. -G"Visual Studio 14 2015 Win64" -DCMAKE_CONFIGURATION_TYPES="Release;Debug;" 

build_script:
        - cd %APPVEYOR_BUILD_FOLDER%
        - if "%target%" == "native" msbuild %solution_name%
        - if "%target%" == "jvm" cd jvm-packages && mvn test -pl :xgboost4j
