[MASTER]

ignore=tests

extension-pkg-whitelist=numpy

disable=unexpected-special-method-signature,too-many-nested-blocks,useless-object-inheritance,import-outside-toplevel,unsubscriptable-object

dummy-variables-rgx=(unused|)_.*

reports=no

[BASIC]

# Enforce naming convention
const-naming-style=UPPER_CASE
class-naming-style=PascalCase
function-naming-style=snake_case
method-naming-style=snake_case
attr-naming-style=snake_case
argument-naming-style=snake_case
variable-naming-style=snake_case
class-attribute-naming-style=snake_case

# Allow single-letter variables
variable-rgx=[a-zA-Z_][a-z0-9_]{0,30}$
