include *.rst
include xgboost/VERSION
include xgboost/CMakeLists.txt

recursive-include xgboost *
recursive-include xgboost/include *
recursive-include xgboost/src *
recursive-include xgboost/rabit *
recursive-include xgboost/dmlc-core *

global-exclude *.py[oc]