name: XGBoost CI

on: [push, pull_request]

permissions:
  contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  BRANCH_NAME: >-
    ${{ github.event.pull_request.number && 'PR-' }}${{ github.event.pull_request.number || github.ref_name }}

jobs:
  build-cpu:
    name: Build CPU
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=linux-amd64-cpu
      - tag=main-build-cpu
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Log into Docker registry (AWS ECR)
        run: bash ops/pipeline/login-docker-registry.sh
      - run: bash ops/pipeline/build-cpu.sh

  build-cuda:
    name: Build CUDA + manylinux_2_28_${{ matrix.arch }} wheel
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=${{ matrix.runner }}
      - tag=main-build-cuda-${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - arch: aarch64
          runner: linux-arm64-cpu
          image_repo: xgb-ci.gpu_build_rockylinux8_aarch64
        - arch: x86_64
          runner: linux-amd64-cpu
          image_repo: xgb-ci.gpu_build_rockylinux8
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Log into Docker registry (AWS ECR)
        run: bash ops/pipeline/login-docker-registry.sh
      - run: |
          bash ops/pipeline/build-cuda.sh ${{ matrix.image_repo }} ${{ matrix.arch }} disable-rmm
      - name: Stash files
        run: |
          python3 ops/pipeline/manage-artifacts.py upload \
            --s3-bucket ${{ env.RUNS_ON_S3_BUCKET_CACHE }} \
            --prefix cache/${{ github.run_id }}/build-cuda-${{ matrix.arch }} \
            build/testxgboost python-package/dist/*.whl

  build-cuda-with-rmm:
    name: Build CUDA with RMM
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=linux-amd64-cpu
      - tag=main-build-cuda-with-rmm
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Log into Docker registry (AWS ECR)
        run: bash ops/pipeline/login-docker-registry.sh
      - run: |
          bash ops/pipeline/build-cuda.sh xgb-ci.gpu_build_rockylinux8 x86_64 enable-rmm
      - name: Stash files
        run: |
          python3 ops/pipeline/manage-artifacts.py upload \
            --s3-bucket ${{ env.RUNS_ON_S3_BUCKET_CACHE }} \
            --prefix cache/${{ github.run_id }}/build-cuda-with-rmm \
            build/testxgboost

  build-python-wheels-cpu:
    name: Build CPU wheel for ${{ matrix.manylinux_target }}_${{ matrix.arch }}
    runs-on:
      - runs-on
      - runner=${{ matrix.runner }}
      - run-id=${{ github.run_id }}
      - tag=main-build-python-wheels-cpu-${{ matrix.manylinux_target }}-${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - manylinux_target: manylinux2014
          arch: aarch64
          runner: linux-arm64-cpu
        - manylinux_target: manylinux2014
          arch: x86_64
          runner: linux-amd64-cpu
        - manylinux_target: manylinux_2_28
          arch: aarch64
          runner: linux-arm64-cpu
        - manylinux_target: manylinux_2_28
          arch: x86_64
          runner: linux-amd64-cpu
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Log into Docker registry (AWS ECR)
        run: bash ops/pipeline/login-docker-registry.sh
      - run: |
          bash ops/pipeline/build-python-wheels-cpu.sh \
            ${{ matrix.manylinux_target }} ${{ matrix.arch }}

  build-gpu-rpkg:
    name: Build GPU-enabled R package
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=linux-amd64-cpu
      - tag=main-build-gpu-rpkg
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Log into Docker registry (AWS ECR)
        run: bash ops/pipeline/login-docker-registry.sh
      - run: bash ops/pipeline/build-gpu-rpkg.sh

  test-cpp-gpu:
    name: >-
      Run Google Tests with GPUs
      (Suite ${{ matrix.suite }}, Runner ${{ matrix.runner }})
    needs: [build-cuda, build-cuda-with-rmm]
    runs-on:
      - runs-on
      - runner=${{ matrix.runner }}
      - run-id=${{ github.run_id }}
      - tag=main-test-cpp-gpu-${{ matrix.suite }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - suite: gpu
            runner: linux-amd64-gpu
            image_repo: xgb-ci.gpu
            artifact_from: build-cuda-x86_64
          - suite: gpu
            runner: linux-arm64-gpu
            image_repo: xgb-ci.gpu_aarch64
            artifact_from: build-cuda-aarch64
          - suite: gpu-rmm
            runner: linux-amd64-gpu
            image_repo: xgb-ci.gpu
            artifact_from: build-cuda-with-rmm
          - suite: mgpu
            runner: linux-amd64-mgpu
            image_repo: xgb-ci.gpu
            artifact_from: build-cuda-x86_64
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Log into Docker registry (AWS ECR)
        run: bash ops/pipeline/login-docker-registry.sh
      - name: Unstash gtest
        run: |
          python3 ops/pipeline/manage-artifacts.py download \
            --s3-bucket ${{ env.RUNS_ON_S3_BUCKET_CACHE }} \
            --prefix cache/${{ github.run_id }}/${{ matrix.artifact_from }} \
            --dest-dir build \
            testxgboost
          chmod +x build/testxgboost
      - run: bash ops/pipeline/test-cpp-gpu.sh ${{ matrix.image_repo }} ${{ matrix.suite }}

  test-python-wheel:
    name: Run Python tests (${{ matrix.description }})
    needs: [build-cuda]
    runs-on:
      - runs-on
      - runner=${{ matrix.runner }}
      - run-id=${{ github.run_id }}
      - tag=main-test-python-wheel-${{ matrix.description }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - description: single-gpu
            image_repo: xgb-ci.gpu
            suite: gpu
            runner: linux-amd64-gpu
            artifact_from: build-cuda-x86_64
          - description: multiple-gpu
            image_repo: xgb-ci.gpu
            suite: mgpu
            runner: linux-amd64-mgpu
            artifact_from: build-cuda-x86_64
          - description: cpu-amd64
            image_repo: xgb-ci.cpu
            suite: cpu
            runner: linux-amd64-cpu
            artifact_from: build-cuda-x86_64
          - description: cpu-arm64
            image_repo: xgb-ci.manylinux_2_28_aarch64
            suite: cpu-arm64
            runner: linux-arm64-cpu
            artifact_from: build-cuda-aarch64
          - description: gpu-arm64
            image_repo: xgb-ci.gpu_aarch64
            suite: gpu-arm64
            runner: linux-arm64-gpu
            artifact_from: build-cuda-aarch64
    steps:
      # Restart Docker daemon so that it recognizes the ephemeral disks
      - run: sudo systemctl restart docker
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Log into Docker registry (AWS ECR)
        run: bash ops/pipeline/login-docker-registry.sh
      - name: Unstash Python wheel
        run: |
          python3 ops/pipeline/manage-artifacts.py download \
            --s3-bucket ${{ env.RUNS_ON_S3_BUCKET_CACHE }} \
            --prefix cache/${{ github.run_id }}/${{ matrix.artifact_from }} \
            --dest-dir wheelhouse \
            *.whl
      - name: Run Python tests, ${{ matrix.description }}
        run: bash ops/pipeline/test-python-wheel.sh ${{ matrix.suite }} ${{ matrix.image_repo }}
