name: XGBoost CI

on: [push, pull_request]

permissions:
  contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  BRANCH_NAME: >-
    ${{ github.event.pull_request.number && 'PR-' }}${{ github.event.pull_request.number || github.ref_name }}

jobs:
  ecr-login:
    name: Login to AWS ECR
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=linux-amd64-cpu
      - tag=main-ecr-login
    steps:
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2.0.1
        with:
          mask-password: 'false'
          registries: '492475357299'
    outputs:
      docker_registry: ${{ steps.login-ecr.outputs.registry }}
      docker_username: ${{ steps.login-ecr.outputs.docker_username_492475357299_dkr_ecr_us_west_2_amazonaws_com }}
      docker_password: ${{ steps.login-ecr.outputs.docker_password_492475357299_dkr_ecr_us_west_2_amazonaws_com }}

  build-cpu:
    name: Build CPU
    needs: ecr-login
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=linux-amd64-cpu
      - tag=main-build-cpu
    container:
      image: ${{ needs.ecr-login.outputs.docker_registry }}/xgb-ci.cpu:main
      credentials:
        username: ${{ needs.ecr-login.outputs.docker_username }}
        password: ${{ needs.ecr-login.outputs.docker_password }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: "true"
      # Remove default build config to ensure CMake-configured header is used
      - name: Remove default build config
        run: rm -fv dmlc-core/include/dmlc/build_config_default.h
      - uses: trivialfis/sccache-gha/actions/sccache@main
        with:
          cache-key-prefix: ${{ github.job }}
      - name: Build and test CPU (non-sanitizer)
        run: bash ops/pipeline/build-cpu-impl.sh cpu
